.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* shop */
/* .shop-item-render-div{
  max-height: 100vh;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  overflow-y: scroll;
}
.shop-main-div{
  height: 100vh;
  width: 100vw;
  background-color: rgb(88, 117, 134);
}
.shop-main-sidebar-list{
  height: 100vh;
  width: 100vw;
  display: flex;
}*/
.sidebar-container{
  background-color: plum;
  height: 100vh;
  width: 10vw;
}

.main-shop-container{
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.shop{
height: 100vh;
width: 100vw;
}
.category-nav{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-content: center;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
}
div.category-nav > h5{
  font-weight: lighter;
  color: #D1D0CC;
}
div.category-nav > h5:active{
  color: navy;
}

.product-list-render{
  height:60vh;
  width: 60vw;
}
.shop-items-rendered{
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  justify-content: space-between;
  margin-top: 40px;
}
.shop-section{
  height: 100vh;
  width: 90vw;
  display: flex;

}

.Item-more-info-main-container{
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.selected-item-container{
  height: 800px;
  width: 800px;
}
.image-info{
  max-height:100%;
  max-width: 100%;
}
.image-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.small-image{
  height:110px;
}
span{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  will-change: 60px;
  float: right;
  margin-right: 20px;
  background-color: palevioletred;
  padding: 10px; 
  border-radius: 4px;
}

.checkout-item-main-div{
  display: flex;
  height:200px;
  width: 100%;
  flex-direction: row;
  padding: 20px;

}
.cart-image{
  max-height: 80%;
  max-width: 20%;
}
.cart-item-info{
  display: flex;
  flex-direction: row;
  height:100%;
  max-width: 80%;
}
.name-and-brand{
  max-width: 50%;
  margin-left: 20px;
  margin-top: 10px;
}
.price{
  margin-left: 300px;
}
.shopping-cart-div-main{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height:auto;
  width:100%;
  margin-top: 100px;
}
.cart-div{
  height: auto;
  width: 50%;
  padding: 15px;
  margin-right: 20px;
  
}
.total-box{
  height:250px;
  width:400px;
  margin:30px 30px 20px 30px;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
}
.check-out-button{
  height:50px;
  width:100%;
  border-radius: 10px;
  color: white;
  background-color: rgb(53, 56, 58);
  
}
.order-quantity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.total-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.order-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}



.home-page-main-div{
  display:flex;
  align-content: center;
  align-items: center;
  flex-direction: column

}
.main-image-larger{
  height: 600px;
  width: 750px;
  justify-content: center;
}
.middle-small-image{
  height:230px;
  width: 300px;
  background-color: mediumpurple;
}

.main-checkout-div{
  display: flex;
  background-color: lightslategrey;
}
.address-input-field{
  height:600px;
  width:600px;
  background-color: lightcoral
}
.cart-checkout-div{
  height:600px;
  width:600px;
  background-color: indianred;
}
.form-div{
  height:70%;
  width: 50%;
  display:flex;
  justify-content: center;
  
}
.review-component-div{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Cart view page style */

.main-shop-view-container{
  height:100vh;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow-y: scroll;
}
.shipping-info-box{
  height: 20%;
  max-height: 10%;
  width: 60%;
  margin-top:20px;
  background-color: rgb(157, 157, 157);
  text-align: center;
  vertical-align: middle;
}

.shopping-cart-view-container{
  display: flex;
  height: auto;
  min-height: 40%;
  flex-direction: column;
  min-width: 60%;
  background-color: dodgerblue;
  margin: 10px;
  justify-content:space-between;
  overflow-y: scroll;
}
.cart-header{
  height:15%;
  width: 100%;
  background-color: purple;
  color: white;
}
.cart-view-render-box{
  height: auto;
  min-height:70%;
  width: 100%;
  background-color: red;
}
.cart-container-footer{
  height: 15%;
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: darkslategrey;
}
.question-cart-div{
  background-color: deeppink;
  height:50%;
  width: 60%;
  max-height: 50%;
  max-width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.favorite-list-item-container{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
}

.review-results-box{
  height:400px;
  width: 600px;
  
  margin-top: 100px;
  margin-bottom: 100px;
}
.favorite-list-item-container{
  height:auto;
}
.favorites-view-container-main{
  height:auto;
  width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info-table-container{
  display:flex;
}
.delete-from-faves-button{
  height:50px;
  width:150px;
  background-color: #222;
  color: white;
}
.main-home-body{
  height: 80vh;
  width: 100vw;
  background: url("https://www.keyclack.com/assets/images/index_banner.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
#main-home-shop-button{
  background-color: rgb(0, 0, 0);
  color: white;
  height: 40px;
  width: 200px;
  border: none;
}