.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* shop */
/* .shop-item-render-div{
  max-height: 100vh;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  overflow-y: scroll;
}
.shop-main-div{
  height: 100vh;
  width: 100vw;
  background-color: rgb(88, 117, 134);
}
.shop-main-sidebar-list{
  height: 100vh;
  width: 100vw;
  display: flex;
}*/
.sidebar-container{
  background-color: plum;
  height: 100vh;
  width: 10vw;
}

.main-shop-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.shop{
height: 100vh;
width: 100vw;
}
.category-nav{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-content: center;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
}
div.category-nav > h5{
  font-weight: lighter;
  color: #D1D0CC;
}
div.category-nav > h5:active{
  color: navy;
}

.product-list-render{
  height:60vh;
  width: 60vw;
}
.shop-items-rendered{
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  justify-content: space-between;
  margin-top: 40px;
}
.shop-section{
  height: 100vh;
  width: 90vw;
  display: flex;

}

.Item-more-info-main-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-item-container{
  height: 800px;
  width: 800px;
}
.image-info{
  max-height:55vh;
  width: 100%;
}
.image-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.small-image{
  height:100px;
}
span{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  will-change: 60px;
  float: right;
  margin-right: 20px;
  background-color: palevioletred;
  padding: 10px; 
  border-radius: 4px;
}

.checkout-item-main-div{
  display: flex;
  height:200px;
  width: 100vw;
  justify-content: center;
}
.cart-image{
  max-height: 200px;
  max-width: 300px;
}
.cart-item-info{
  height:100vh;
  max-width: 300px;
}
.shopping-cart-div-main{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-page-main-div{
  display:flex;
  align-content: center;
  align-items: center;
  flex-direction: column
}
.main-image-larger{
  height: 600px;
  width: 750px;
  justify-content: center;
}
.middle-small-image{
  height:230px;
  width: 300px;
  background-color: mediumpurple;
}
.small-cover-images{
        padding:20px;
        display:flex;
}
.main-checkout-div{
  display: flex;
  background-color: lightslategrey;
}
.address-input-field{
  height:600px;
  width:600px;
  background-color: lightcoral
}
.cart-checkout-div{
  height:600px;
  width:600px;
  background-color: indianred;
}
.form-div{
  height:70%;
  width: 50%;
  display:flex;
  
}